.header .logo {
    height: 82px !important;
    width: auto !important;
}

.header-container {
    height: 120px !important;
}

.logo-area {
    padding-right: 34px !important;
    margin-right: 34px !important;
}